{% extends "base.html"%}
{% block title %}Edit Customer{% endblock %}

{% block content %}
    <h1>Edit Data Customer</h1>
    
    <form action="{{ url_for('editcustomer', id=pelanggan.id) }}" method="POST">
        <label>Nama:</label><br>
        <input type="text" name="name" value="{{ pelanggan.nama_pelanggan }}" required><br><br>
        
        <label>Nomor Telepon:</label><br>
        <input type="text" name="nomortelepon" value="{{ pelanggan.nomor_telepon }}" 
               pattern="^08[0-9]{8,11}$" required><br><br>
        
        <label>Alamat:</label><br>
        <input type="text" name="alamat" value="{{ pelanggan.alamat }}"><br><br>
        
        <label>Catatan Khusus:</label><br>
        <input type="text" name="catatan" value="{{ pelanggan.catatan_unik }}"><br><br>
        
        <input type="submit" value="Update Data">
        <a href="{{ url_for('detailcustomer', id=pelanggan.id) }}">Batal</a>
    </form>
{% endblock %}